@page "/"

<PageTitle>EleccionesWeb</PageTitle>

<h1>Control centralizado</h1>

<p>
    Esta aplicacion permite operar modulos graficos desde navegador,
    con estado compartido entre operadores y ejecucion centralizada en servidor.
</p>

<p>
    Usa el menu <strong>Operacion</strong> para bloquear un modulo y lanzar acciones.
</p>
